<div class="ui three column doubling grid container">
    {% for post in data %}
        {% if post["media_url"] is defined %}
            {% set media_url = post["media_url"] %}
            <div class="column">
                <div class="ui segment">
                    <a class="ui medium image">
                        <img alt="" src="{{ media_url }}">
                    </a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>